/*#manage-form {
	background-color: #c39f7f57;
}
#manage-form-wrapper {
    background-color: #c39f7f57;
	border-radius: 3px;
	padding: 15px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
@media screen and (max-width: 960px) {
    #manage-form-wrapper {
        width: 100%;
    }
}
@media screen and (min-width: 961px) {
    #manage-form-wrapper {
        width: 60%;
    }
}
.col-25 {
	float: left;
	width: 25%;
}
.col-75 {
	float: right;
	width: 75%;
}
.row {
	padding: 10px;
}
.row::after {
	clear: both;
	display: block;
	content: "";
}
input.manage-form {
	width: 100%;
	background-color: #F0F0F0;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 10px 20px 10px 20px;
}
input.disabled {
    color: grey;
}
h2.manage-form {
    font-weight: bold;
}
label.manage-form, h2.manage-form {
	font-family: arial;
	padding: 10px;
	color: black;
    text-align: center;
}
button.manage-form {
	background-color: black;
	color: white;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
	margin: 5px;
	float: right;
	border: none;
}

button:hover.manage-form {
	cursor: pointer;
	background-color: #202020;
}*/