.table-border {
    border-top-width: 0.5px;
    border-bottom-width: 0.5px;
    border-color: #e0e0e0
}
.table-row-border {
    border-top-width: 0.5px;
    border-color: #e0e0e0
}
.selected-table-row {
    background-color: #e0e0e0
}